# Composer
.composer
composer.lock
vendor/*
!*/vendor/*

# NPM
node_modules

# Sass
.sass-cache

# Grav Specific
backup/*
cache/*
# assets/*
# !assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/accounts/*
!user/accounts/.*
user/config/*
!user/config/.*
# user/data/*
# !user/data/.*
user/pages/*
!user/pages/.*
# user/plugins/*
# !user/plugins/.*
# user/themes/*
# !user/themes/.*
user/localhost/config/security.yaml
user/config/security.yaml
user/data/feed/*
user/data/notifications/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp


# phpstorm
.idea/*
user/config/security.yaml

tests/_output/*
tests/_support/_generated/*
tests/cache/*
tests/error.log
